@model MVCgame.Models.Game
@{
    ViewBag.Title = "Details";
}

<h2>Details for @Model.Name</h2>
<p>
    <ul>
        <li>Genre: @Model.Genre</li>
        <li>Release Date: @Model.ReleaseMonth @Model.ReleaseDate</li>
        <li>Platform: @Model.Platforms</li>
        
    </ul>
</p>


